 *{
   margin: 0;
   padding: 0;
 } 
 
.cabecalho {
  background-color:rgb(85, 59, 231);
  color: burlywood;
  display:flex ;
  justify-content:space-around ;
  padding: 6px 0; 
  font-size:30px ;
}
.cabecalhoListaItem{
    display: inline-block;
    margin: 0 60px;
    padding: 4px 0; 

}
.sobreImagem{
           width: 50%;
}

.sobre{
        background-image: linear-gradient(#000000, #000000);
        color: rgb(92, 68, 23);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 50px 80px;
}

.sobreConteudo{
        width: 200%;
}

.sobreTitulo{
         padding: 50px 45px;
}




