body {
    background-color: rgb(48, 18, 218);
}
.cabecalho {
  background-color:rgb(85, 59, 231);
  color: burlywood;
  display:flex ;
  justify-content:space-around ;
  padding: 24px 0; 
  font-size:50px ;
}
.cabecalhoListaItem{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0; 

}