 *{
   margin: 0;
   padding: 0;
 } 
 
.cabecalho {
  background-color:rgb(85, 59, 231);
  color: burlywood;
  display:flex ;
  justify-content:space-around ;
  padding: 8px 0; 
  font-size:15px ;
}
.cabecalhoListaItem{
    display: inline-block;
    margin: 0 16px;
    padding: 4px 0; 

}